@import "~styles/imports";

:host {
  @extend %component-defaults;
  flex: 1;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 400px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

// Center spinner within button
mat-progress-spinner {
  margin: 0 auto;
}
