@import "~styles/imports";

:host {
  @extend %component-defaults;
  align-items: center;

}

mat-card {
  width: 400px;
}

form {
  display: flex;
  flex-direction: column;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
