<mat-card>
  <mat-card-title>Request Access</mat-card-title>
  <mat-card-content [formGroup]="form" (keyup.enter)="form.valid ? onRequestAccess() : null">
    <mat-form-field color="accent">
      <input
        matInput
        placeholder="First Name"
        formControlName="firstName"
      >
      <mat-error>Please enter your first name</mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <input
        matInput
        placeholder="Last Name"
        formControlName="lastName"
      >
      <mat-error>Please enter your last name</mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <input
        matInput
        placeholder="Email"
        formControlName="email"
      >
      <mat-error *ngIf="email.errors?.required">Please enter your email address</mat-error>
      <mat-error *ngIf="email.errors?.invalidEmail">Please enter a valid email address</mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <input
        matInput
        placeholder="Organization"
        formControlName="organization"
      >
      <mat-error>Please enter an organization</mat-error>
    </mat-form-field>
    <mat-form-field color="accent" class="new-password">
      <input
        matInput
        placeholder="Password"
        formControlName="password"
        [type]="hidePassword ? 'password' : 'text'"
      >
      <mat-icon matSuffix
                color="primary"
                (click)="hidePassword = !hidePassword"
      >
        {{ hidePassword ? 'visibility' : 'visibility_off' }}
      </mat-icon>
      <mat-hint>
        <div class="line">Use a few words, avoid common phrases</div>
        <div class="line">No need for symbols, digits, or uppercase letters</div>
      </mat-hint>
      <mat-error *ngIf="password.errors?.required">Please enter your password</mat-error>
      <mat-error *ngIf="password.errors?.passwordMismatched">Passwords should match</mat-error>
      <mat-error *ngIf="password.errors?.invalid">
        <div class="line">
          {{ password.errors.invalid.warning || 'Use a stronger password' }}
        </div>
        <div class="line" *ngIf="password.errors.invalid.suggestions as suggestions">
          {{ suggestions.reverse()[0] }}
        </div>
      </mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <input
        matInput
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        [type]="hidePassword ? 'password' : 'text'"
      >
      <mat-icon matSuffix
                color="primary"
                (click)="hidePassword = !hidePassword"
      >
        {{ hidePassword ? 'visibility' : 'visibility_off' }}
      </mat-icon>
      <mat-error *ngIf="confirmPassword.errors?.required">Please re-enter your password</mat-error>
      <mat-error *ngIf="confirmPassword.errors?.passwordMismatched">Passwords should match</mat-error>
    </mat-form-field>
    <mat-error *ngIf="serverError">{{ serverError }}</mat-error>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button
            color="accent"
            [style.order]="1"
            (click)="onRequestAccess();"
            [disabled]="form.invalid || form.disabled"
    >
      <ng-container *ngIf="form.enabled">REQUEST ACCESS</ng-container>
      <mat-progress-spinner
        *ngIf="form.disabled"
        color="accent"
        mode="indeterminate"
        strokeWidth="3"
        [diameter]="32"
      ></mat-progress-spinner>
    </button>
    <button mat-button color="accent" routerLink="/login">CANCEL</button>
  </mat-card-actions>
</mat-card>
