@import "~src/styles/imports";

:host {
  @extend %component-defaults;
}

// Remove extra spacing that the chevron icon adds
.expand-button {
  padding-left: $mat-button-horizontal-padding - 6px;
}

.container {
  display: flex;
  flex-direction: column;
  padding-left: 38px; // Align fields with expand button text

  button {
    align-self: flex-end;
  }
}

.new-password {
  @include form-field-extra-subscript-lines(2);
}
