<app-table-view
  [fetchData]="fetchLanguages"
  [defaultSort]="defaultSort"
>
  <h3 class="mat-title" ngProjectAs="toolbar">Languages</h3>

  <mat-table matSort matSortDisableClear>
    <ng-container matColumnDef="displayName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let language"> {{ language.displayName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="locations">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
      <mat-cell *matCellDef="let language">
        <app-collapsed-chip-list [list]="language.locations">
          <ng-template let-location>{{ location.displayName }}</ng-template>
        </app-collapsed-chip-list>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ethnologueCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ethnologue Code</mat-header-cell>
      <mat-cell *matCellDef="let language"> {{ language.ethnologueCode }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="activeProjects">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Active Projects</mat-header-cell>
      <mat-cell *matCellDef="let language"> {{ language.activeProjects }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="row-hover"
             [routerLink]="'/languages/' + language.id"
             *matRowDef="let language; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <app-language-list-filter tableFilter></app-language-list-filter>
</app-table-view>
