<mat-card *ngIf="user?.isSelf && user?.email">
  <mat-card-content class [formGroup]="form"
                    (keyup.enter)="form.valid ? onPasswordChange() : null">
    <span mat-card-title>Password</span>
    <div>
      <button mat-button (click)="expanded = !expanded">
        <mat-icon *ngIf="!expanded">chevron_right</mat-icon>
        <mat-icon *ngIf="expanded">expand_more</mat-icon>
        <span>Change Password</span>
      </button>
    </div>
    <div class="container" *ngIf="expanded">
      <mat-form-field color="accent">
        <input
          matInput
          placeholder="Current Password"
          formControlName="currentPassword"
          [type]="hideCurrentPassword ? 'password' : 'text'">
        <mat-icon matSuffix
                  color="primary"
                  (click)="hideCurrentPassword = !hideCurrentPassword"
        >
          {{ hideCurrentPassword ? 'visibility' : 'visibility_off' }}
        </mat-icon>
        <mat-error *ngIf="currentPassword.errors?.required">Please enter your current password</mat-error>
        <mat-error *ngIf="currentPassword.errors?.invalid">This is not your current password</mat-error>
      </mat-form-field>
      <mat-form-field color="accent" class="new-password">
        <input
          matInput
          placeholder="New Password"
          formControlName="newPassword"
          [type]="hideNewPassword ? 'password' : 'text'">
        <mat-icon matSuffix
                  color="primary"
                  (click)="hideNewPassword = !hideNewPassword"
        >
          {{ hideNewPassword ? 'visibility' : 'visibility_off' }}
        </mat-icon>
        <mat-hint>
          <div class="line">Use a few words, avoid common phrases</div>
          <div class="line">No need for symbols, digits, or uppercase letters</div>
        </mat-hint>
        <mat-error *ngIf="newPassword.errors?.required">Please enter your new password</mat-error>
        <mat-error *ngIf="newPassword.errors?.passwordMismatched">Passwords should match</mat-error>
        <mat-error *ngIf="newPassword.errors?.invalid">
          <div class="line">
            {{ newPassword.errors.invalid.warning || 'Use a stronger password' }}
          </div>
          <div class="line" *ngIf="password.errors.invalid.suggestions as suggestions">
            {{ suggestions.reverse()[0] }}
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <input
          matInput
          placeholder="Confirm New Password"
          formControlName="confirmPassword"
          [type]="hideConfirmPassword ? 'password' : 'text'">
        <mat-icon matSuffix
                  color="primary"
                  (click)="hideConfirmPassword = !hideConfirmPassword"
        >
          {{ hideConfirmPassword ? 'visibility' : 'visibility_off' }}
        </mat-icon>
        <mat-error *ngIf="confirmPassword.errors?.required">Please re-enter your new password</mat-error>
        <mat-error *ngIf="confirmPassword.errors?.passwordMismatched">Passwords should match</mat-error>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>

    <button mat-raised-button
            color="accent"
            (click)="onPasswordChange()"
            [disabled]="form.invalid || form.disabled"
    >
      <ng-container *ngIf="form.enabled">UPDATE</ng-container>
      <mat-progress-spinner
        *ngIf="form.disabled"
        color="accent"
        mode="indeterminate"
        strokeWidth="3"
        [diameter]="24"
      ></mat-progress-spinner>
    </button>

  </mat-card-actions>
</mat-card>
