{
  "presets": ["razzle/babel"],
  "plugins": [
    ["transform-rename-import", {
      "replacements": [
        {
          "original": "(.+)\\.graphql$",
          "replacement": "$1.graphql.ts"
        }
      ]
    }],
    ["@babel/plugin-transform-runtime", {
      "absoluteRuntime": true
    }],
    "@babel/plugin-proposal-numeric-separator",
    "./src/server/disableSsrByDefault",
    "@loadable/babel-plugin",
    "mui-make-styles",
    ["babel-plugin-import", {
      "libraryName": "lodash",
      "libraryDirectory": "",
      "camel2DashComponentName": false
    }, "fix-lodash-imports"]
  ]
}
