{
  "presets": ["razzle/babel"],
  "plugins": [
    "./src/server/disableSsrByDefault",
    "@loadable/babel-plugin",
    "mui-make-styles",
    ["babel-plugin-import", {
      "libraryName": "lodash",
      "libraryDirectory": "",
      "camel2DashComponentName": false
    }, "fix-lodash-imports"]
  ]
}
