# Versioned but ignore
.*
!.babelrc
!.eslintignore
Dockerfile

# Yarn / NPM
!.yarnrc.yml
!.yarn/releases
!.yarn/plugins
!.yarn/patches
node_modules

# Local
build
cache
coverage
schema.graphql
*.generated.ts
*.graphql.ts
