@import "~src/styles/imports";

:host {
  @extend %component-defaults;
  flex: 1;
  flex-direction: row;
}

app-project-plan-sidebar {
  width: 300px;
  @include mat-elevation(2);
  z-index: 1;
}

.main {
  flex: 1;
  overflow-y: scroll;
}
