<mat-card class="partners">
  <mat-card-title>Partners</mat-card-title>
  <mat-card-content>
    <mat-accordion>

      <mat-expansion-panel *ngFor="let partner of partners; trackBy: trackPartnerById;"
                           [expanded]="isCardOpened(partner.id)"
                           (opened)="onCardOpen(partner)"
                           (closed)="onCardClose(partner.id)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>account_circle</mat-icon>
            <div class="title">
              <span class="name">{{ partner.name }}</span>
              <small *ngIf="!isCardOpened(partner.id)">partners role</small>
            </div>
          </mat-panel-title>
          <mat-panel-description *ngIf="!isCardOpened(partner.id)">
            <div class="header">
              <div class="add-space">
                MOU Status : <span class="name">Signed & Attched</span>
              </div>
              <div class="add-space">
                Partner Agreement Status : <span class="name">Awaiting Signature</span>
              </div>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form class="partnerForm">
          <mat-form-field color="accent" class="add-width">
            <mat-select placeholder="Partner Type">
              <mat-option *ngFor="let partnerType of partnerTypes; trackBy: trackByValue;"
                          [value]="partnerTypeToString(partnerType)">
                {{ partnerTypeToString(partnerType) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="name">
            <mat-label class="name">MOU</mat-label>
          </div>
          <button mat-button color="accent" class="upload-button">
            UPLOAD
            <mat-icon>file_upload</mat-icon>
          </button>
          <mat-form-field color="accent" class="upload-status">
            <mat-select placeholder="Status">
              <mat-option *ngFor="let status of mouAgreementStatuses; trackBy: trackByValue;"
                          [value]="partnerAgreementStatusToString(status)">
                {{ partnerAgreementStatusToString(status) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="name">
            <mat-label>Partner Agreement</mat-label>
          </div>
          <button mat-button color="accent" class="upload-button">
            UPLOAD
            <mat-icon>file_upload</mat-icon>
          </button>
          <mat-form-field color="accent" class="upload-status">
            <mat-select placeholder="Status">
              <mat-option *ngFor="let status of mouAgreementStatuses; trackBy: trackByValue;"
                          [value]="partnerAgreementStatusToString(status)">
                {{ partnerAgreementStatusToString(status) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button color="accent">
              REMOVE PARTNER
            </button>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="accent">
      ADD PARTNER
    </button>
  </mat-card-actions>
</mat-card>
