<mat-card>
  <mat-card-title>Location and Timeframe</mat-card-title>
  <mat-card-content [formGroup]="form">
    <app-autocomplete-location
      placeholder="Location"
      [clearButton]="false"
      [keepInput]="true"
      [required]="true"
      [value]="location.value"
      (optionSelected)="location.setValue($event)"
    >
    </app-autocomplete-location>
    <div class="date-container">
      <mat-form-field color="accent">
        <input matInput [matDatepicker]="startDate" placeholder="Start Date" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput [min]="minDate" [matDatepicker]="endDate" placeholder="End Date" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
