@import "~styles/imports";

:host {
  @extend %component-defaults;
  @include mat-elevation(2);
}

.mat-form-field {
  width: 49%;
}

.language-time-full-width {
  width: 98.5%;
}

.language-time-container {
  display: flex;
  margin: 50px;
  flex-direction: column;
}

.date-container {
  flex-direction: row;
}

.hidden {
  visibility: hidden;
}

