<mat-card>
  <mat-card-title>Location and Timeframe</mat-card-title>
  <mat-card-content [formGroup]="form">
    <app-autocomplete-location
      placeholder="Location"
      [clearButton]="false"
      [keepInput]="true"
      [required]="true"
      [value]="location.value"
      (optionSelected)="location.setValue($event)"
    >
    </app-autocomplete-location>
    <div class="date-container">
      <mat-form-field color="accent">
        <input matInput [matDatepicker]="mouStart" placeholder="Start Date" formControlName="mouStart">
        <mat-datepicker-toggle matSuffix [for]="mouStart"></mat-datepicker-toggle>
        <mat-datepicker #mouStart></mat-datepicker>
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput [min]="minDate" [matDatepicker]="mouEnd" placeholder="End Date" formControlName="mouEnd">
        <mat-datepicker-toggle matSuffix [for]="mouEnd"></mat-datepicker-toggle>
        <mat-datepicker #mouEnd></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-hint class="mat-error" *ngIf="form.hasError('isInValidDateRange')">Start date must be before End Date
    </mat-hint>
  </mat-card-content>
</mat-card>
