@import "~styles/imports";

:host {
  @extend %component-defaults;
  justify-content: center;
  align-items: center;

  &.mat-primary {
    color: mat-color($primary, default-contrast);
    background: mat-color($primary);
  }

  &.mat-accent {
    color: mat-color($accent, default-contrast);
    background: mat-color($accent);
  }
}
