@import "~styles/imports";

.header {
  display: flex;
}

.title {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.name {
  font-weight: 500;
}

.mou {
  display: flex;
}

.upload-button {
  width: 160px;
  text-align: left;
  .mat-icon {
    padding-left: 50px;
  }
}

.upload-status {
  margin-left: 100px;
}

.add-space {
  margin: auto 30px;
}

.partnerForm {
  padding-left: 45px;
}

.add-width {
  width: 30%;
}
