<img class="avatar" *ngIf="user.picture" src="{{ user.picture }}">
<app-avatar-letter color="accent" class="avatar mat-display-2" *ngIf="!user.picture">{{ user.avatarLetters }}</app-avatar-letter>
<h1 class="mat-display-1">{{ user.fullName }}</h1>

<h3 class="mat-caption"
    *ngIf="user.roles.length > 0 || user.canEdit"
>
  Roles
</h3>
<mat-nav-list *ngIf="user.roles.length > 0">
  <mat-list-item
    *ngFor="let role of user.roles; trackBy: trackUserRole"
    (click)="showRoleLocations(role)"
    matTooltip="Show areas"
    matTooltipPosition="after"
  >
    <span mat-line>{{ ProjectRole.forUI(role.role) }}</span>
    <span mat-line>{{ role.locations.length }} Locations</span>
  </mat-list-item>
</mat-nav-list>
<button mat-button color="accent"
        *ngIf="user.roles.length == 0 && user.canEdit"
>
  ADD
</button>

<h3 class="mat-caption"
    *ngIf="user.organizations.length > 0 || user.canEdit"
>
  Organizations
</h3>
<mat-nav-list *ngIf="user.organizations.length > 0">
  <a mat-list-item
     *ngFor="let org of user.organizations; trackBy: trackOrganization"
     routerLink="/organizations/{{ org.id }}"
  >
    <p mat-line>{{ org.name }}</p>
  </a>
</mat-nav-list>
<button mat-button color="accent"
        *ngIf="user.organizations.length == 0 && user.canEdit"
>
  ADD
</button>

<h3 class="mat-caption">Status</h3>
<button mat-button color="accent"
        (click)="showAvailability()"
        matTooltip="Show unavailabilities"
        matTooltipPosition="after"
>
  {{ available ? 'AVAILABLE' : 'UNAVAILABLE' }}
</button>

<ng-container *ngIf="user.email">
  <h3 class="mat-caption">Email</h3>
  <p redactable>{{ user.email }}</p>
</ng-container>

<ng-container *ngIf="user.phone">
  <h3 class="mat-caption">Phone</h3>
  <p redactable>{{ user.phone }}</p>
</ng-container>

<ng-container *ngIf="user.timeZone">
  <h3 class="mat-caption">Time Zone</h3>
  <p
    matTooltip="{{ localTime }} local time"
    matTooltipPosition="after"
    matTooltipHideDelay="1000"
  >{{ user.timeZone }}</p>
</ng-container>

<button
  mat-raised-button
  color="accent"
  class="edit"
  *ngIf="user.canEdit"
  routerLink="edit"
>EDIT PROFILE</button>
