<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <h2 class="mat-title">People</h2>
    <span class="spacer"></span>

    <button mat-icon-button>
      <mat-icon>filter_list</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>person_add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="avatar">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let member">
      <app-avatar-letter color="accent">{{ member.firstName.charAt(0) + member.lastName.charAt(0) }}</app-avatar-letter>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
    <mat-cell *matCellDef="let member" class="title content-align">
      {{ member.firstName }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
    <mat-cell *matCellDef="let member" class="title">{{ member.lastName }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="updatedAt">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Date Added</mat-header-cell>
    <mat-cell *matCellDef="let member">{{ member.updatedAt | date : 'shortDate' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="roles">
    <mat-header-cell *matHeaderCellDef>Role(s)</mat-header-cell>
    <mat-cell *matCellDef="let member" class="project-role-menu">
      <span>{{ showRoles(member.roles) }}</span>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let member; columns: displayedColumns;"></mat-row>

</mat-table>
<mat-paginator [pageSizeOptions]="pageSizeOptions"
></mat-paginator>
