<form [formGroup]="form">
<mat-form-field color="accent">
  <mat-select formControlName="stage" placeholder="Stage" multiple>
    <mat-optgroup label="Active">
      <mat-option [value]="option" *ngFor="let option of getProjectStages(ProjectStatus.Active)">{{option}}
      </mat-option>
    </mat-optgroup>
    <mat-optgroup label="In Development">
      <mat-option [value]="option" *ngFor="let option of getProjectStages(ProjectStatus.InDevelopment)">{{option}}
      </mat-option>
    </mat-optgroup>
    <mat-optgroup label="Inactive">
      <mat-option [value]="option" *ngFor="let option of getProjectStages(ProjectStatus.Inactive)">{{option}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>

  <mat-form-field color="accent">
    <mat-select placeholder="Type" formControlName="type">
      <mat-option [value]="option" *ngFor="let option of projectTypeList">{{option}}
      </mat-option>
    </mat-select>
</mat-form-field>

  <mat-form-field color="accent">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let language of languages" (remove)="removeLanguage(language)" [selectable]="false">
        {{ language.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="Languages"
             [matChipInputFor]="chipList"
             (matChipInputTokenEnd)="addLanguage($event)"
      >
    </mat-chip-list>
</mat-form-field>

  <mat-form-field color="accent">
    <mat-select multiple placeholder="Sensitivity" formControlName="sensitivity">
      <mat-option [value]="option" *ngFor="let option of projectSensitivities">{{option}}
      </mat-option>
    </mat-select>
</mat-form-field>
</form>
