@import "~src/styles/imports";

:host {
  @extend %component-defaults;
  background: mat-background($theme, background);

  margin: 24px;
  overflow-y: scroll;
}

mat-card {
  margin-bottom: 24px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}
