<mat-card>
  <mat-card-title>
      <span class="icon">
        <mat-icon svgIcon="cord"></mat-icon>
      </span>
    <span>Forgot Password</span>
  </mat-card-title>
  <mat-card-subtitle *ngIf="!reset">Enter your email address to reset your password.</mat-card-subtitle>
  <mat-card-content [formGroup]="form" (keyup.enter)="form.valid ? onResetPassword() : null">
    <div *ngIf="!reset">
      <mat-form-field color="accent">
        <input matInput
               placeholder="Email"
               formControlName="email"
        >
        <mat-error>Please enter a valid email</mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="reset">
      <h2 class="mat-title">Email Sent!</h2>
      <span>
        Check your email for a link to reset your password.
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!reset"
            mat-button
            color="accent"
            (click)="onResetPassword();"
            [disabled]="form.invalid || form.disabled">
      <ng-container *ngIf="form.enabled">RESET</ng-container>
      <mat-progress-spinner
        *ngIf="form.disabled"
        color="accent"
        mode="indeterminate"
        strokeWidth="3"
        [diameter]="32"
      ></mat-progress-spinner>
    </button>
    <button mat-button
            color="accent"
            routerLink="/login"
    >{{ reset ? 'LOGIN' : 'CANCEL' }}
    </button>
  </mat-card-actions>
</mat-card>
