@import "~styles/imports";

:host {
  @extend %component-defaults;
  flex: 1;
  justify-content: center;
  align-items: center;
}

mat-card {
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

mat-card-title {
  display: flex;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: .5em;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  display: flex;
  flex-direction: row-reverse;
}

// Center spinner within button
mat-progress-spinner {
  margin: 0 auto;
}
