<h1 mat-dialog-title>New Project</h1>
<form mat-dialog-content [formGroup]="form">
  <mat-form-field color="accent">
    <mat-select formControlName="type"
                placeholder="Type">
      <mat-option *ngFor="let type of types ; trackBy: trackByValue;"
                  [value]="type">
        {{ typeToString(type) }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="type.invalid">Please select a type</mat-error>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput
           maxlength="140"
           formControlName="name"
           placeholder="Name"
           autocomplete="off">
    <mat-hint align="start" *ngIf="name.pending">Checking availability...</mat-hint>
    <mat-hint align="end">{{ name.value.length }}/140</mat-hint>
    <mat-error *ngIf="name.errors?.required">Please enter a name</mat-error>
    <mat-error *ngIf="name.errors?.duplicate">A project with this name already exists</mat-error>
    <mat-error *ngIf="name.errors?.minlength">Name must be at least 2 characters long</mat-error>
  </mat-form-field>
</form>
<div mat-dialog-actions>
  <button *ngIf="!submitting"
          mat-button color="accent"
          [style.order]="1"
          [disabled]="!form.valid"
          (click)="onCreate()">
    <span>CREATE</span>
  </button>
  <mat-progress-spinner *ngIf="submitting"
                        color="accent"
                        mode="indeterminate"
                        strokeWidth="3"
                        [diameter]="30"
                        [style.order]="1">
  </mat-progress-spinner>
  <button mat-button [disabled]="submitting" color="accent" (click)="onClose()">CANCEL</button>

</div>
