// Constants that the library uses, but are compiled away so we can't import them.
// At least with by using this it is only one place to update if there are changes.
$mat-button-horizontal-padding: 16px;
$mat-card-padding: 24px;
$mat-chips-chip-margin: 4px;
$mat-fab-height: 56px;
$mat-toolbar-height: 64px;
$mat-row-horizontal-padding: 24px;
$mat-dialog-padding: 24px;
