// Put global styles in this file.
// Note: Don't reference this file in component style files. Use `imports` instead.

@import "imports";

@include mat-core($config);
@include angular-material-theme($theme);

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
  background-color: mat-background($theme, background);
}

// Text color for sorted headers on tables should match the sorting arrow (be darker)
.mat-sort-header-sorted {
  color: mat-foreground($theme, text);
}

.mat-row {
  // Hide row borders by default.
  .mat-table & { // extra selection here to override base styles without using !important
    border-bottom-style: none;
  }

  // In case rows are clickable don't show outline
  &:focus {
    outline: 0;
  }

  &.row-hover:hover {
    // TODO CF2-200 Define via theme variable. It isn't defined by material library.
    background-color: map-get($mat-grey, 200);
    cursor: pointer;
  }
}

// region Chips

// Ensure chip list doesn't get outlined when disabled chips are clicked
.mat-chip-list {
  outline: 0;
}

// Spread chips out evenly:
// Library defaults margin on left, but this looks weird when flex wraps to second row - since the first chip on the
// second row isn't aligned with the first chip on the first row.
// We move it to the right instead, and remove it on the list item. However, this does leave a trailing margin when
// there are multiple rows, but it is hard to notice that.
// We also add margin to the bottom so there is space between rows. This extra margin from last row is removed in the wrapper.
.mat-chip-list {
  .mat-chip:not(.mat-basic-chip) {
    &, & + .mat-chip:not(.mat-basic-chip) {
      margin: 0 $mat-chips-space-between $mat-chips-space-between 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  .mat-chip-list-wrapper {
    // Does room need to be saved for chip shadow?
    margin-bottom: -$mat-chips-space-between;
  }
}

// Fix chips inside of a table cell (we assume only one row is wanted)
.mat-cell .mat-chip-list {
  .mat-chip:not(.mat-basic-chip) {
    // Left, right, and bottom margin are given here to provide room for the shadow because table cells hide overflow
    // Top margin is to keep chip centered in table cell
    &, & + .mat-chip:not(.mat-basic-chip) {
      margin: 6px 3px;
    }
    // Sibling chips get an extra margin to keep 8px margin between chips
    & + .mat-chip:not(.mat-basic-chip) {
      margin-left: $mat-chips-space-between - 3px;
    }
  }
  // Remove offset from default list. We are also assuming only one row inside of tables
  .mat-chip-list-wrapper {
    margin-bottom: 0;
  }
}

// endregion

// Change tab active text color to stand out more (matches focus)
.mat-tab-link.mat-tab-label-active {
  opacity: 1;
}

// Use secondary text color for secondary text on lists
// MD doesn't explicitly specify this but all of their images show it
.mat-list, .mat-nav-list, .mat-selection-list {
  .mat-list-item .mat-line:nth-child(n+2) {
    color: mat-foreground($theme, secondary-text);
  }
}

// Keep input suffixes at the same height as the text input for chip lists
.mat-form-field.mat-form-field-type-mat-chip-list .mat-input-suffix {
  align-self: flex-end;
  margin-bottom: 6px;
}

// Fix icons in disabled menu items to also be disabled color (matches MD spec).
.mat-menu-item[disabled] .mat-icon {
  color: mat-foreground($theme, disabled);
}
