// Put global styles in this file.
// Note: Don't reference this file in component style files. Use `imports` instead.

@import "imports";

@include mat-core($config);
@include angular-material-theme($theme);

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  background-color: mat-background($theme, background);
}

// Text color for sorted headers on tables should match the sorting arrow (be darker)
.mat-sort-header-sorted {
  color: mat-foreground($theme, text);
}

.mat-row {
  // Hide row borders by default.
  .mat-table & { // extra selection here to override base styles without using !important
    border-bottom-style: none;
  }

  // In case rows are clickable don't show outline
  &:focus {
    outline: 0;
  }

  &.row-hover:hover {
    // TODO CF2-200 Define via theme variable. It isn't defined by material library.
    background-color: map-get($mat-grey, 200);
  }
}

// Provide room for clickable chips shadows
.mat-chip:not(.mat-basic-chip) {
  margin: 0 3px 6px !important;
  & + & {
    margin-left: 5px !important;
  }

  // Keep chips centered vertically and text aligned inside of tables
  .mat-cell & {
    margin-top: 6px !important;
  }
}

// Change tab active text color to stand out more (matches focus)
.mat-tab-link.mat-tab-label-active {
  opacity: 1;
}
