<mat-card>
  <mat-card-title>Person Details</mat-card-title>
  <mat-card-content [formGroup]="form">
    <mat-form-field color="accent">
      <input type="text" matInput
             placeholder="Bio"
             formControlName="bio"/>
    </mat-form-field>
    <div formArrayName="education"
         *ngFor="let item of form.get('education').controls; trackBy:trackByValue(item) ; let i = index;">
      <div [formGroupName]="i" class="container">
        <button mat-icon-button (click)="onRemoveDegree(i)">
          <mat-icon>delete</mat-icon>
        </button>
        <div class="fields-container">
        <mat-form-field color="accent">
          <mat-select placeholder="Degree" formControlName="degree">
            <mat-option *ngFor="let role of Degree.entries() ; trackBy: Degree.trackEntryBy"
                        [value]="role.value">
              {{ role.ui }}
            </mat-option>
          </mat-select>
        </mat-form-field>
          <mat-form-field color="accent">
          <input type="text" matInput placeholder="Major" formControlName="major">
        </mat-form-field>
        </div>
        <mat-form-field color="accent">
          <input type="text" matInput placeholder="Institution" formControlName="institution">
        </mat-form-field>
      </div>
    </div>
    <button type="button" mat-button color="primary" (click)="onCreateDegree()">
      <mat-icon>add</mat-icon>
      Add Education
    </button>
    <mat-form-field color="accent">
      <mat-select placeholder="Skills" formControlName="skills" [multiple]="true">
        <mat-option *ngFor="let skill of skillsList ; trackBy: trackByValue(skill)"
                    [value]="skill">
          {{ skill }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let skill of customSkills ; trackBy: trackByValue(skill)" [selectable]="true"
                  [removable]="true"
                  (remove)="removeCustomSkill(skill)">{{ skill }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Add Custom Skills"
               [matChipInputFor]="chipList"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addCustomSkill($event)"/>
      </mat-chip-list>
    </mat-form-field>
    <div formArrayName="knownLanguages"
         *ngFor="let item of form.get('knownLanguages').controls; trackBy:trackByValue(item) ; let i = index;">
      <div [formGroupName]="i" class="container">
        <button mat-icon-button (click)="onRemoveLanguage(i)">
          <mat-icon>delete</mat-icon>
        </button>
        <div class="fields-container">
          <app-autocomplete-language
            [chips]="true"
            [list]="getLanguages(i).value"
            (optionSelected)="onLanguageSelected(i,$event)"
            (removed)="onLanguageRemoved(i,$event)"
          >
          </app-autocomplete-language>
          <mat-form-field color="accent">
          <mat-select placeholder="Proficiency" formControlName="proficiency">
            <mat-option
              *ngFor="let role of LanguageProficiency.entries(); trackBy:LanguageProficiency.trackValueBy(role)"
              [value]="role.value">
              {{ LanguageProficiency.forUI(role.value) }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </div>
      </div>
    </div>
    <button type="button" mat-button color="primary" (click)="onCreateLanguage()">
      <mat-icon>add</mat-icon>
      Add Language
    </button>
  </mat-card-content>
</mat-card>


