<section>
  <mat-card class="login-container">
    <mat-card-header class="login-container-header">
    <span class="toolbar-icon">
      <mat-icon svgIcon="cord"></mat-icon>
    </span>
      <span>
      <h3>Sign In</h3>
    </span>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (submit)="onLogin(loginForm)">
        <div class="wrapper">
          <mat-form-field color="accent">
            <input
              matInput
              placeholder="Email"
              formControlName="email"
              type="text"
            >
            <mat-error *ngIf="loginForm.controls['email'].invalid">Please enter a valid email</mat-error>
          </mat-form-field>
          <mat-form-field color="accent">
            <input
              matInput
              placeholder="Password"
              formControlName="password"
              [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
          </mat-form-field>
        </div>
        <div class="login-container-footer">
          <div>
            <a> FORGOT EMAIL/PASSWORD?</a>
          </div>
          <div>
            <button type="submit" mat-raised-button color="accent" [disabled]="!loginForm.valid">LOG IN</button>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-footer class="request-access">
      Don't have an account? <a routerLink="/login/request-access" routerLinkActive="active">REQUEST ACCESS</a>
    </mat-card-footer>
  </mat-card>
</section>


