<section>
  <mat-card class="login-container">
    <mat-card-header class="login-container-header">
    <span class="toolbar-icon">
      <mat-icon svgIcon="cord"></mat-icon>
    </span>
      <span>
      <h3>Sign In</h3>
    </span>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (submit)="onSubmit(loginForm)">
        <div class="wrapper">
          <mat-form-field>
            <input
              matInput
              placeholder="Email"
              formControlName="email"
              type="text"
            >
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Password"
              formControlName="password"
              type="password"
            >
          </mat-form-field>
        </div>


        <div class="login-container-footer">
          <div>
            <a> FORGOT EMAIL/PASSWORD?</a>
          </div>
          <div>
            <button type="submit" mat-raised-button color="primary">LOG IN</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</section>


