@import "~styles/imports";

.login-container {

  border: 1px solid antiquewhite;
  width: 400px;
  height: 400px;
  margin: 10em;
  padding: 1em;

  .login-container-header {
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
  }

  .toolbar-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1em;
  }

  .login-container-footer {
    margin-top: 8em;
    display: flex;
    justify-content: space-between;
    a {
      color: mat-color($accent);
    }
  }
  .request-access {
    margin: 3em 0em 0em 0em;
    a {
      text-decoration: none;
    }
  }

}



