@import "~styles/imports";

:host {
  @extend %component-defaults;
  align-items: center;
  margin-top: 10em;
}

mat-card {
  width: 400px;
  height: 400px;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 70px auto;
}

mat-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

mat-card-header {
  display: flex;
  flex-direction: column;
}

form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.toolbar-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1em;
}





