<mat-card *ngIf="engagement">
  <mat-card-content [formGroup]="form" (keyup.enter)="form.valid ? update() : null">
    <p class="mat-title">PnP</p>
    <div class="pnp">
      <span><mat-icon color="accent">grid_on</mat-icon></span>
      <span class="description">
        {{ engagement.languageName }} to PnP
      </span>
      <span>{{ engagement.updatedAt?.toLocaleString() }}</span>
      <span>{{ engagement.updatedBy }}</span>
      <span>
        <button mat-button>
          <mat-icon>file_upload</mat-icon>Upload
        </button>
      </span>
      <span>
        <button mat-button>
          <mat-icon>file_download</mat-icon>Download
        </button>
      </span>
    </div>
    <p class="mat-title">Engagement Details</p>
    <div class="engagement">
      <mat-form-field color="accent">
        <mat-select multiple placeholder="Products" formControlName="products">
          <mat-option
            *ngFor="let product of ProjectEngagement.products; trackBy: ProjectApproach.trackValueBy"
            [value]="product">
            {{ ProjectProduct.forUI(product) }}
          </mat-option>
        </mat-select>
        <mat-error>Please select one or more products</mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-select multiple placeholder="Mediums" formControlName="mediums">
          <mat-option *ngFor="let medium of ProjectEngagement.mediums; trackBy: ProjectMedium.trackValueBy"
                      [value]="medium">
            {{ ProjectMedium.forUI(medium) }}
          </mat-option>
        </mat-select>
        <mat-error>Please select one or more mediums</mat-error>
      </mat-form-field>
    </div>
    <p class="mat-title">Approach</p>
    <div class="approach">
      <mat-radio-group formControlName="approach">
        <mat-radio-button
          *ngFor="let approach of ProjectEngagement.approaches; trackBy: ProjectApproach.trackValueBy"
          [value]="approach">
          {{ ProjectApproach.forUI(approach) }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <p class="mat-title">Other Information</p>
    <div class="others">
      <mat-checkbox formControlName="isLukePartnership">Is this a Luke Partnership?</mat-checkbox>
      <mat-checkbox formControlName="isFirstScripture">Does this provide First Scripture for this people group?
      </mat-checkbox>
      <div class="dedication">
        <mat-checkbox
          formControlName="isDedicationPlanned">Is a dedication planned for this project? If so when?
        </mat-checkbox>
        <mat-form-field color="accent">
          <input matInput
                 formControlName="dedicationDate"
                 [matDatepicker]="datepicker"
                 placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
          <mat-error *ngIf="dedicationDate.errors?.matDatepickerParse">Invalid Date</mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button
            color="primary"
            [disabled]="form.disabled"
            (click)="form.reset({})">
      RESET
    </button>
    <button mat-button
            color="accent"
            type="submit"
            (click)="update()"
            [disabled]="form.invalid || form.disabled">
      <ng-container *ngIf="form.enabled">UPDATE</ng-container>
      <mat-progress-spinner
        *ngIf="form.disabled"
        color="accent"
        mode="indeterminate"
        strokeWidth="3"
        [diameter]="32"
      ></mat-progress-spinner>
    </button>
  </mat-card-actions>
</mat-card>

