@import "~src/styles/imports";

:host {
  @extend %component-defaults;
  flex: 1;
}

.others {
  display: flex;
  flex-direction: column;
}

.engagement {
  display: flex;
  mat-form-field {
    flex: 1;
    margin-left: 24px;
  }
}

mat-radio-button, mat-checkbox {
  margin: 0 24px 12px;
}

.dedication {
  display: flex;
  align-items: center;
  mat-form-field, mat-checkbox {
    flex: 1;
    margin-left: 24px;
  }
}

.pnp {
  display: flex;
  margin-left: 24px;
  span {
    flex: 1;
  }
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.description {
  align-self: flex-start;
}
