<mat-toolbar>
  <a mat-button routerLink="..">{{ user.fullName }}</a>
  <mat-icon>chevron_right</mat-icon>
  <span>Edit Profile</span>
</mat-toolbar>

<nav mat-tab-nav-bar color="accent">
  <a mat-tab-link
     *ngFor="let tab of tabs | async; trackBy: trackTabsBy"
     [routerLink]="tab.path"
     routerLinkActive
     #rla="routerLinkActive"
     [active]="rla.isActive"
  >{{ tab.label }}</a>
  <app-save-discard-dial
    [dirty]="dirty | async"
    [submitting]="submitting | async"
    (save)="onSave()"
    (discard)="onDiscard()"
  ></app-save-discard-dial>
</nav>

<router-outlet></router-outlet>
