<mat-toolbar>
  <mat-toolbar-row>
    <span class="spacer"></span>
    <app-search (search)="onSearch($event)"></app-search>
    <button mat-icon-button color="primary" matTooltip="Assign User" (click)="onAssign()">
      <mat-icon>person_add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="avatar">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let member">
      <app-avatar-letter color="accent">{{ member.avatarLetters }}</app-avatar-letter>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
    <mat-cell *matCellDef="let member" class="name">
      {{ member.firstName }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
    <mat-cell *matCellDef="let member" class="name">{{ member.lastName }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dateAdded">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Date Added</mat-header-cell>
    <mat-cell *matCellDef="let member">{{ member.dateAdded?.toLocaleString() }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="roles">
    <mat-header-cell *matHeaderCellDef>Role(s)</mat-header-cell>
    <mat-cell *matCellDef="let member">
      <span [class.none]="member.roles.length === 0">{{ showRoles(member.roles) || 'None' }}</span>
      <button mat-icon-button mat-button [matMenuTriggerFor]="context" (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #context="matMenu">
        <button mat-menu-item (click)="onChangeRoles(member)">
          <mat-icon>assignment</mat-icon>
          Change Roles
        </button>
        <button mat-menu-item
                [disabled]="member.removable"
                (click)="onRemove(member)"
        >
          <mat-icon>delete</mat-icon>
          Remove
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="row-hover"
           [routerLink]="'/people/' + member.id"
           *matRowDef="let member; columns: displayedColumns;"></mat-row>

</mat-table>
<mat-paginator [pageSizeOptions]="pageSizeOptions"
></mat-paginator>
