<button mat-icon-button (click)="focused = !focused">
  <mat-icon class="mat-primary">search</mat-icon>
</button>
<mat-form-field *ngIf="focused" [@slideInOut] floatLabel="never" color="accent">
  <input matInput autofocus type="text" placeholder="Search" [(ngModel)]="query" (ngModelChange)="searchUpdated($event)"
         (keydown.esc)="focused = false; query=''"/>
  <button mat-button [class.hidden]="!query" matSuffix mat-icon-button aria-label="Clear"
          (click)="query='';searchUpdated()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
