<app-dialog-form
  [formGroup]="form"
  [handleSubmit]="onSubmit"
  title="Create Directory"
  submitText="CREATE"
  failureText="Failed to create directory"
>
  <mat-form-field color="accent">
    <input matInput
           maxlength="140"
           formControlName="name"
           placeholder="Name"
           autocomplete="off">
    <mat-hint align="end">{{ name.value.length }}/140</mat-hint>
    <mat-error *ngIf="name.errors?.required">Please enter a name</mat-error>
    <mat-error *ngIf="name.errors?.exists">A directory with this name already exists</mat-error>
  </mat-form-field>
</app-dialog-form>
