@import "~src/styles/imports";

:host {
  @extend %component-defaults;
  flex: 1;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 500px;
  display: flex;
  flex-direction: column;
}

mat-card-title {
  display: flex;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: .5em;
}

mat-progress-spinner {
  margin: 0 auto;
}

mat-card-actions {
  display: flex;
  flex-direction: row-reverse;
}
