<mat-card>
  <mat-card-title>
      <span class="icon">
        <mat-icon svgIcon="cord"></mat-icon>
      </span>
    <span>Verifying Email</span>
  </mat-card-title>
  <mat-card-content>
    <p *ngIf="isValidToken; else tokenFailed">
      Your email is verified succesfully, you can try login to Cord now.
    </p>
    <ng-template #tokenFailed>
      Weird, your token is invalid. If you copied the link emailed to you, make sure you got it exactly as it was
      sent. Please contact cord field support services.
    </ng-template>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="isValidToken" mat-button color="accent" (click)="onLogin()">Login</button>
  </mat-card-actions>
</mat-card>
