<mat-toolbar>
  {{ project.name }}
</mat-toolbar>

<nav mat-tab-nav-bar color="accent">
  <a mat-tab-link
     *ngFor="let tab of tabs; trackBy: trackTabsBy"
     [routerLink]="tab.path"
     routerLinkActive
     #rla="routerLinkActive"
     [active]="rla.isActive"
  >{{ tab.label }}</a>
  <app-speed-dial
    *ngIf="showSaveFab"
    align="below"
    icon="save"
    [disabled]="submitting"
    [progress]="submitting"
    [@popInOut]
  >
    <app-speed-dial-item tooltip="Discard" color="warn" (click)="onDiscard()">
      <mat-icon>delete</mat-icon>
    </app-speed-dial-item>
    <app-speed-dial-item tooltip="Save" color="accent" (click)="onSave()">
      <mat-icon>save</mat-icon>
    </app-speed-dial-item>
  </app-speed-dial>
</nav>

<router-outlet (activate)="onRouterActivate($event)" (deactivate)="onRouterDeactivate($event)"></router-outlet>
