@import "~styles/imports";

:host {
  @extend %component-defaults;
  @include mat-elevation(2);
  flex: 1;
}

.header {
  @include mat-elevation(4);
  z-index: 2;
}
.add-button {
  // The top of fab button starts half way down the height of the parent element
  // 49% aligns better than 50% as long as the element's height is < 150px which should mostly be the case for toolbars.
  top: 49%;
}

.toolbar {
  background: mat-background($theme, card);
  padding-top: ($mat-fab-height / 2);
  min-height: $mat-toolbar-height + $mat-fab-height / 2;
}

.spacer {
  flex: auto;
}

mat-drawer-container {
  flex: 1;
}

mat-drawer {
  @include mat-elevation(4);
  width: 25%;
  max-width: 400px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  overflow-x: hidden; // Hide filter button pushed off to the right
}


mat-table {
  flex: 1;
  overflow-y: scroll;
}

mat-header-row {
  position: sticky;
  top: 0;
  background: mat-background($theme, card);
}

.mat-column-avatar {
  flex: none;
  width: 40px; // so header column is aligned (same as avatar width)
  margin-right: 24px; // same as left for table
}

.name {
  color: mat-color($accent);
  @include mat-typography-level-to-styles($config, body-2);
}

.mat-column-roles, .mat-column-organization {
  flex: 2;
}

.none {
  color: mat-foreground($theme, disabled);
}

.status-circle {
  border-radius: 4px;
  height: 7px;
  width: 7px;
  display: inline-block;
  margin-right: 5px;

  &.status-active {
    background: green;
  }
  &.status-inactive {
    background: red;
  }
}

.people-overflow-chip {
  background-color: white;
  border: 1px solid mat-background($theme, unselected-chip);
  cursor: pointer !important;

  // adjust drop down arrow to fit better within chip
  .mat-icon {
    height: 18px;
    width: 18px;
    margin-top: -7px;
  }
}

