@import "~src/styles/imports";

:host {
  @extend %component-defaults;
  flex: 1;
}

.mat-column-avatarLetters {
  flex: none;
  width: 40px; // so header column is aligned (same as avatar width)

  // Add spacing to right and change left padding to left margin so it doesn't interfere with defined width.
  margin: 0 $mat-row-horizontal-padding;
  padding: 0;
}

.name {
  color: mat-color($accent);
  @include mat-typography-level-to-styles($config, body-2);
}

.mat-column-roles, .mat-column-organization {
  flex: 2;
}

.status-circle {
  border-radius: 4px;
  height: 7px;
  width: 7px;
  display: inline-block;
  margin-right: 5px;

  &.status-active {
    background: green;
  }
  &.status-inactive {
    background: red;
  }
}
