@import "~src/styles/imports";

:host {
  @extend %component-defaults;
}

.loading {
  margin-top: 16px;
  margin-bottom: 16px;
  align-self: center;
}

mat-error {
  @include mat-typography-level-to-styles($config, subheading-1);
}
