<h1 mat-dialog-title>Change Roles</h1>

<mat-progress-spinner
  class="loading"
  *ngIf="loading"
  color="accent"
  mode="indeterminate"
  strokeWidth="3"
  [diameter]="48"
></mat-progress-spinner>

<mat-form-field color="accent" *ngIf="!loading && assignableRoles.length > 0">
  <mat-select multiple placeholder="Roles" [formControl]="roles">
    <mat-option *ngFor="let role of assignableRoles; trackBy: ProjectRole.trackValueBy"
                [disabled]="ProjectRole.implicit.includes(role)"
                [value]="role">
      {{ ProjectRole.forUI(role) }}
    </mat-option>
  </mat-select>
  <mat-error>Please select one or more roles</mat-error>
</mat-form-field>
<mat-error *ngIf="!loading && assignableRoles.length === 0">No roles can be changed</mat-error>
<mat-dialog-actions>
  <button mat-button color="accent"
          [disabled]="submitting || roles.invalid || roles.pristine"
          (click)="onSubmit()"
  >
    <ng-container *ngIf="!submitting">UPDATE</ng-container>
    <mat-progress-spinner
      *ngIf="submitting"
      color="accent"
      mode="indeterminate"
      strokeWidth="3"
      [diameter]="32"
    ></mat-progress-spinner>
  </button>
  <button mat-button color="accent" (click)="onClose()">CANCEL</button>
</mat-dialog-actions>
