<mat-card>
  <mat-card-content>
    <h2>About</h2>
    <ng-template
      *ngIf="user.bio || user.education.length > 0 || user.skills.length > 0 || user.customSkills.length > 0 ;
       else NoUserAbout">

      <div *ngIf="user.bio">
        <h4>Bio</h4>
        <p>{{ user.bio }}</p>
      </div>

      <div *ngIf="user.education.length > 0">
        <h4>Education</h4>
        <ul>
          <li *ngFor="let edu of user.education; trackBy: trackValueBy">
            <p><strong>{{ Degree.forUI(edu.degree) }}'s</strong>&nbsp;-&nbsp;{{ edu.institution }}</p>
          </li>
        </ul>
      </div>

      <div *ngIf="user.skills.length > 0">
        <h4>Skills</h4>
        <mat-chip-list>
          <mat-chip class="primary" *ngFor="let skill of user.skills; trackBy: trackValueBy">
            {{ skill }}
          </mat-chip>
        </mat-chip-list>
      </div>

      <div *ngIf="user.customSkills.length > 0">
        <h4>Custom Skills</h4>
        <p>{{ customSkills }}</p>
      </div>

      <div>
        <h4>Languages</h4>
        <ul>
          <li *ngFor="let language of user.knownLanguages; trackBy: trackValueBy">
            <p><a>{{ language.language }}</a>&nbsp;-&nbsp;{{ LanguageProficiency.forUI(language.proficiency) }}</p>
          </li>
        </ul>
      </div>

    </ng-template>
    <ng-template #NoUserAbout>
      <a> Tell us more about {{ user.fullName }}</a>
    </ng-template>
  </mat-card-content>
</mat-card>
