@import "~styles/imports";

a {
  color: $seed-green;
  font-weight: 500;
  cursor: pointer;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

h4 {
  color: $seed-text-gray;
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

mat-card {
  height: 100%;
  width: 100%;
}
