<h1 mat-dialog-title>New Person</h1>
<form mat-dialog-content
      id="ngForm"
      [formGroup]="form"
      (ngSubmit)="onSubmit()">

  <div class="name-container">
    <mat-form-field color="accent">
      <input matInput
             placeholder="First Name"
             formControlName="firstName" />
      <mat-error *ngIf="firstName.errors?.required">Please enter their first name</mat-error>
      <mat-error *ngIf="firstName.errors?.minlength">First name must be at least 2 characters</mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput
             placeholder="Last Name"
             formControlName="lastName" />
      <mat-error *ngIf="lastName.errors?.required">Please enter their last name</mat-error>
      <mat-error *ngIf="lastName.errors?.minlength">Last name must be at least 2 characters</mat-error>
    </mat-form-field>
  </div>
  <mat-form-field color="accent">
    <input type="email"
           matInput
           placeholder="Email"
           formControlName="email" />
    <mat-error *ngIf="email.errors?.required">Please enter their email address</mat-error>
    <mat-error *ngIf="email.errors?.invalidEmail">Please enter a valid email address</mat-error>
    <mat-error *ngIf="email.errors?.inUse">This email address is already in use</mat-error>
  </mat-form-field>

  <app-user-roles-form [disabled]="form.disabled"
                       (formReady)="form.addControl('userRoles', $event)"></app-user-roles-form>

  <mat-slide-toggle color="accent"
                    formControlName="sendInvite">Email them an invite?</mat-slide-toggle>
</form>

<div mat-dialog-actions>
  <button mat-button
          type="submit"
          form="ngForm"
          color="accent"
          [disabled]="!form.valid">
    <ng-container *ngIf="!submitting">CREATE</ng-container>
    <mat-progress-spinner *ngIf="submitting"
                          color="accent"
                          mode="indeterminate"
                          strokeWidth="3"
                          [diameter]="32"></mat-progress-spinner>
  </button>

  <button mat-button
          color="accent"
          mat-dialog-close>
    CANCEL
  </button>
</div>
