@import "~src/styles/imports";

:host {
  @extend %component-defaults;
}

.name-container {
  display: flex;
}

.mat-form-field {
  flex: 1;
  display: block;
  & + & {
    margin-left: 16px;
  }
}

mat-slide-toggle {
  margin: 12px 0;
}
