<h1 mat-dialog-title>{{ res.title }}</h1>
<form mat-dialog-content
      id="ngForm"
      #viewForm="ngForm"
      [formGroup]="form"
      (ngSubmit)="onSubmit()">

  <div class="name-container">
    <mat-form-field color="accent">
      <input matInput
             placeholder="{{ res.fields.firstName.placeholder }}"
             formControlName="firstName" />
      <mat-error *ngIf="firstName.errors?.required">{{ res.fields.firstName.validations.required }}</mat-error>
      <mat-error *ngIf="firstName.errors?.minlength">{{ res.fields.firstName.validations.minLength }}</mat-error>
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput
             placeholder="{{ res.fields.lastName.placeholder }}"
             formControlName="lastName" />
      <mat-error *ngIf="lastName.errors?.required">{{ res.fields.lastName.validations.required }}</mat-error>
      <mat-error *ngIf="lastName.errors?.minlength">{{ res.fields.lastName.validations.minLength }}</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field color="accent">
    <input type="email"
           matInput
           placeholder="{{ res.fields.email.placeholder }}"
           formControlName="email" />
    <mat-error *ngIf="email.errors?.required">{{ res.fields.email.validations.required }}</mat-error>
    <mat-error *ngIf="email.errors?.invalidEmail">{{ res.fields.email.invalid }}</mat-error>
    <mat-error *ngIf="email.errors?.inUse">{{ res.fields.email.validations.inUse }}</mat-error>
  </mat-form-field>

  <app-user-roles-form [disabled]="form.disabled"
                       (formReady)="form.addControl('userRoles', $event)"></app-user-roles-form>

  <mat-slide-toggle color="accent"
                    formControlName="sendInvite">{{ res.actions.sendInvite.innerText }}</mat-slide-toggle>
</form>

<div mat-dialog-actions>
  <button mat-button
          color="accent"
          [disabled]="!viewForm.valid"
          (click)="viewForm.ngSubmit?.emit()">
    {{ res.actions.create.innerText }}
    <mat-progress-spinner *ngIf="submitted"
                          color="accent"
                          mode="indeterminate"
                          strokeWidth="3"
                          [diameter]="32"></mat-progress-spinner>
  </button>

  <button mat-button
          color="accent"
          mat-dialog-close>
    {{ res.actions.cancel.innerText }}
  </button>
</div>
