<mat-toolbar>
  <mat-toolbar-row class="mat-typography nav-toolbar">
    <span class="toolbar-icon">
      <mat-icon svgIcon="cord"></mat-icon>
    </span>

    <button mat-button color="primary">Projects</button>
    <button mat-button color="primary">Tasks</button>
    <button mat-button color="primary">Languages</button>
    <button mat-button color="primary">People</button>
    <button mat-button color="primary">Organizations</button>

    <span class="nav-spacer"></span>

    <app-header-search></app-header-search>
    <button mat-icon-button class="mat-primary"><mat-icon>notifications</mat-icon></button>

    <button mat-button class="profile-menu-button" color="primary" [matMenuTriggerFor]="profileMenu">
      My Name<mat-icon class="profile-menu-arrow-down">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
