
.login-container {

  border: 1px solid antiquewhite;
  width: 400px;
  height: 400px;
  margin: 10em;
  padding: 1em;
  z-index: 1;

  .login-container-header {
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    display: flex;
    flex-direction: column;

  }

  .toolbar-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1em;
  }

  .login-container-footer {
    margin-top: 5em;
    display: flex;
    justify-content: space-between;
    .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
      background-color: green;
      color: white;
    }
  }

}



