<form [formGroup]="form">
  <mat-form-field color="accent">
    <mat-select formControlName="stage" placeholder="Stage" multiple>
      <mat-optgroup label="Active">
        <mat-option
          *ngFor="let stage of projectStagesForStatus(ProjectStage.Active); trackBy: trackByProjectStage"
          [value]="stage">
          {{ projectStageToString(stage) }}
        </mat-option>
      </mat-optgroup>
      <mat-optgroup label="In Development">
        <mat-option
          *ngFor="let stage of projectStagesForStatus(ProjectStage.InDevelopment); trackBy: trackByProjectStage"
          [value]="stage">
          {{ projectStageToString(stage) }}
        </mat-option>
      </mat-optgroup>
      <mat-optgroup label="Inactive">
        <mat-option
          *ngFor="let stage of projectStagesForStatus(ProjectStage.Inactive); trackBy: trackByProjectStage"
          [value]="stage">
          {{ projectStageToString(stage) }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-select placeholder="Type" formControlName="type">
      <mat-option
        *ngFor="let projectType of projectTypeList; trackBy: trackByIndex"
        [value]="projectType">
        {{ projectType }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-chip-list #chipList>
      <mat-chip color="accent"
                *ngFor="let language of selectedLanguages; trackBy: trackLanguageById"
                (remove)="onRemoveLanguage(language)">
        {{ language }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="Languages"
             matInput
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="true"
             [matAutocomplete]="language"
             formControlName="language"
             #chipInput/>
      <mat-autocomplete #language="matAutocomplete"
                        (optionSelected)="onAddLanguage($event)">
        <mat-option
          *ngFor="let language of filteredLanguages | async; trackBy: trackLanguageById"
          [value]="language">
          {{ language.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>

  </mat-form-field>
  <mat-form-field color="accent">
    <mat-select placeholder="Date Range" formControlName="dateRange">
      <mat-option value="createdAt">Created At
      </mat-option>
      <mat-option value="updatedAt">Modified At
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field color="accent" *ngIf="dateRange.value !== ''">
    <input matInput
           [matDatepicker]="startDate"
           placeholder="Start Date"
           formControlName="startDate">
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
  </mat-form-field>
  <mat-form-field color="accent" *ngIf="dateRange.value !== ''">
    <input matInput
           [min]="minDate"
           [matDatepicker]="endDate"
           placeholder="End Date"
           formControlName="endDate">
    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate></mat-datepicker>
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-chip-list #locationChipList>
      <mat-chip color="accent"
                *ngFor="let location of selectedLocations; trackBy: trackLocationById"
                (remove)="onRemoveLocation(location)">
        {{ showLocationName(location) }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input matInput
             placeholder="Location"
             [matChipInputFor]="locationChipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matAutocomplete]="auto" formControlName="location"
             (blur)="onLocationBlur()"
             #locationChipInput/>
      <mat-autocomplete #auto="matAutocomplete"
                        (optionSelected)="onLocationSelected($event)"
                        [displayWith]="showLocationName">
        <mat-option
          *ngFor="let location of filteredLocations; trackBy: trackLocationById"
          [value]="location">
          {{ showLocationName(location) }}
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>
    <mat-hint align="start" *ngIf="location.pending">Searching...</mat-hint>
    <mat-error *ngIf="location.errors?.noMatches">No matches found</mat-error>
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-select multiple
                placeholder="Sensitivity"
                formControlName="sensitivity">
      <mat-option *ngFor="let option of projectSensitivities; trackBy: trackByIndex" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
