<app-header></app-header>
<div class="mat-display-1">Welcome to Cord Field!</div>
<div class="mat-title">Here are some links to help you start:</div>
<mat-nav-list>
  <a mat-list-item target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
  <a mat-list-item target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI
    Documentation</a>
  <a mat-list-item target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
</mat-nav-list>
