@import "~src/styles/imports";

:host {
  @extend %component-defaults;
  background: mat-background($theme, card);
}

.info {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.location {
  margin: 0;
}

.dept-id {
  margin: 8px 0 0;
}
