<form *ngIf="engagement" [formGroup]="form">

  <div class="row">
    <mat-card>
      <mat-card-title>Status</mat-card-title>
      <app-status-select-workflow
        [placeholder]="null"
        [enum]="EngagementStatus"
        [findAvailableStatuses]="findAvailableStatuses"
        [original]="engagement?.status"
        formControlName="status"
      ></app-status-select-workflow>
    </mat-card>

    <mat-card>
      <mat-card-title>PnP</mat-card-title>
      <mat-card-actions>
        <button mat-button color="accent" routerLink="../../files">
          <mat-icon>file_upload</mat-icon>
          Upload
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="row">
    <mat-card class="products">
      <mat-card-title>Products</mat-card-title>
      <mat-card-content>

        <div class="options">
          <mat-checkbox formControlName="isLukePartnership">
            Is this a Luke Partnership?
          </mat-checkbox>

          <mat-checkbox formControlName="isFirstScripture">
            Does this provide First Scripture for this people group?
          </mat-checkbox>
        </div>

        <app-engagement-products #products></app-engagement-products>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button
                color="accent"
                [disabled]="isSubmitting"
                (click)="products.addProduct()"
        >
          ADD PRODUCT
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="dates">
      <mat-card-title>Dates</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngIf="engagement?.initialEndDate as date">
            <h4 mat-line>{{ date?.toLocaleString() }}</h4>
            <p mat-line>Initial Estimated End Date</p>
          </mat-list-item>
          <mat-list-item *ngIf="engagement?.currentEndDate as date">
            <h4 mat-line>{{ date?.toLocaleString() }}</h4>
            <p mat-line>Current Estimated End Date</p>
          </mat-list-item>
        </mat-list>

        <mat-form-field color="accent">
          <input matInput
                 formControlName="completeDate"
                 [matDatepicker]="completeDatePicker"
                 placeholder="Translation Complete Date">
          <mat-datepicker-toggle matSuffix [for]="completeDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #completeDatePicker></mat-datepicker>
          <mat-error *ngIf="completeDate.errors?.matDatepickerParse">Invalid Date</mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
          <input matInput
                 formControlName="disbursementCompleteDate"
                 [matDatepicker]="disbursementCompleteDatePicker"
                 placeholder="Disbursement Complete Date">
          <mat-datepicker-toggle matSuffix [for]="disbursementCompleteDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #disbursementCompleteDatePicker></mat-datepicker>
          <mat-error *ngIf="disbursementCompleteDate.errors?.matDatepickerParse">Invalid Date</mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
          <input matInput
                 formControlName="communicationsCompleteDate"
                 [matDatepicker]="communicationsCompleteDatePicker"
                 placeholder="Communications Complete Date">
          <mat-datepicker-toggle matSuffix [for]="communicationsCompleteDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #communicationsCompleteDatePicker></mat-datepicker>
          <mat-error *ngIf="communicationsCompleteDate.errors?.matDatepickerParse">Invalid Date</mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="isCeremonyPlanned">
          Is a dedication planned?
        </mat-checkbox>

        <mat-form-field color="accent" class="ceremony">
          <input matInput
                 formControlName="ceremonyEstimatedDate"
                 [matDatepicker]="ceremonyEstimatedDatePicker"
                 placeholder="Estimated Dedication Date">
          <mat-datepicker-toggle matSuffix [for]="ceremonyEstimatedDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #ceremonyEstimatedDatePicker></mat-datepicker>
          <mat-error *ngIf="ceremonyEstimatedDate.errors?.matDatepickerParse">Invalid Date</mat-error>
        </mat-form-field>

        <mat-form-field color="accent" class="ceremony">
          <input matInput
                 formControlName="ceremonyActualDate"
                 [matDatepicker]="ceremonyActualDatePicker"
                 placeholder="Actual Dedication Date">
          <mat-datepicker-toggle matSuffix [for]="ceremonyActualDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #ceremonyActualDatePicker></mat-datepicker>
          <mat-error *ngIf="ceremonyActualDate.errors?.matDatepickerParse">Invalid Date</mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>

</form>

<app-speed-dial
  *ngIf="isDirty | async"
  align="below"
  icon="save"
  [disabled]="isSubmitting"
  [progress]="isSubmitting"
  [@popInOut]
>
  <app-speed-dial-item tooltip="Discard" color="warn" (click)="onDiscard()">
    <mat-icon>delete</mat-icon>
  </app-speed-dial-item>
  <app-speed-dial-item tooltip="Save" color="accent" (click)="onSave()">
    <mat-icon>save</mat-icon>
  </app-speed-dial-item>
</app-speed-dial>
