@import "~src/styles/imports";

:host {
  @extend %component-defaults;
  flex: 1;
}

app-speed-dial {
  position: absolute;
  top: -($mat-fab-height / 2);
  right: 24px; // matches tab padding
  z-index: 2;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  // 24px spacing around cards
  margin: 12px;
  mat-card {
    margin: 12px;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

mat-card {
  min-width: 200px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

// Don't show pointer passed clickable text/box
mat-checkbox {
  align-self: flex-start;
}

.dedication {
  display: flex;
  margin-left: 28px;
}
