@import "~src/styles/imports";

:host {
  @extend %component-defaults;
}

button {
  position: fixed;
  bottom: 12px;
  left: 12px;
  z-index: $cdk-z-index-overlay-backdrop + 1; // above modal backdrops
  font-size: 1.5rem;
}

::ng-deep .freshwidget-container {
  // Style backdrop just like all other backdrops
  .widget-ovelay, // They misspelled it
  .widget-overlay {
    opacity: 1;
    background: $cdk-overlay-dark-backdrop-background;
  }
}
