@import "~styles/imports";

:host {
  @extend %component-defaults;
  flex: 1;
  flex-direction: row;
}

app-project-overview-sidebar {
  width: 300px;
}

.main {
  flex: 1;
  background: mat-background($theme, background);
  padding: 24px;

  > ::ng-deep * {
    margin-bottom: 24px;
  }
}
