<mat-card class="profile">
  <mat-card-content>
    <div>
      <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvlRriLVd11QaMe0suGWewi2AjP4X9tI55All09seJrBQqcKTEig">
      <h2>{{ user.fullName }}</h2>
    </div>
    <div>
      <ul>
        <li *ngFor="let role of user.roles; trackBy: trackValueBy">
          {{ ProjectRole.forUI(role.role) }} -
          <a (click)="showLocationsByRole(role)"> {{ role.locations.length }} Areas</a>
        </li>
      </ul>
    </div>
    <div>
      <h4>Organizations</h4>
      <ul>
        <li *ngFor="let org of user.organizations; trackBy: trackValueBy">
          <a (click)="showOrg(org)"> {{ org.name }} </a>
        </li>
      </ul>
    </div>
    <div>
      <h4>Email</h4>
      <span>{{ user.email }}</span>
    </div>
    <div>
      <h4>Phone</h4>
      <span>{{ user.phone }}</span>
    </div>
    <div>
      <h4>Time Zone</h4>
      <span>{{ user.timeZone }}</span>
    </div>
    <div>
      <h4>Status</h4>
      <span>
          <a (click)="showAvailability()">{{ user.available ? 'Available' : 'Unavailable' }}</a>
      </span>
    </div>
    <button mat-raised-button color="accent" (click)="onEdit()" *ngIf="user.isSelf">EDIT PROFILE</button>
  </mat-card-content>
</mat-card>

