@import "~styles/imports";

.profile {
  width: 400px;
  height: 100%;
}

a {
  color: $seed-green;
  font-weight: 500;
  cursor: pointer;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.avatar {
  @include avatar(150px);
}

h4 {
  color: $seed-text-gray;
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  margin-top: 48px;
  width: max-content;
}
