<mat-card>
  <mat-card-title>Universal Budget Template</mat-card-title>
  <mat-card-content>

  </mat-card-content>

  <mat-card-actions>
    <button mat-button
            color="accent">
      ADD BUDGET TEMPLATE FILE
    </button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-title>MOU Budget</mat-card-title>
  <mat-card-content class="mou-budget">
    <mat-card-subtitle>Total MOU Budget</mat-card-subtitle>
    <span class="mou-budget__total">{{ "150000" | currency:'USD':'symbol':'4.0-0' }} </span>

    <h3 class="mat-subheading-2">Budget Records</h3>

    <form [formGroup]="form">
      <div formArrayName="budgets"
           *ngFor="let budget of budgets.controls; let i = index; trackBy: trackBudgetById;">
        <div [formGroupName]="i"
             class="flex-row">

          <!-- Budget Name Column -->
          <span class="mat-subheading-1">{{ budget.get('id')?.value }}</span>

          <!-- Budget Fiscal Year Column -->
          <span class="mat-subheading-1">{{ 'FY' + budget.get('fiscalYear')?.value }}</span>

          <!-- Budget Budget Amount Column -->
          <mat-form-field color="accent"
                          class="mou-budget__amount">
            <input matInput
                   formControlName="amount"
                   [value]="2000000 | currency:'USD':'symbol':'4.0-0'">
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
