@import "~styles/imports";

:host {
  @extend %component-defaults;
}

mat-list {
  padding: 0; // title already provides spacing
  margin: 0 -24px 0 -16px; // offset card padding
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

// Keep same spacing between list and autocomplete input
// Keep margin bottom same as add button
mat-form-field {
  margin-top: 16px;
  margin-bottom: - (20px + 8px + 1px) !important; // field hint space + default action offset + something else
}

.option-text {
  display: grid;
  line-height: normal;

  .secondary {
    @include mat-typography-level-to-styles($config, body-1);
    color: mat-foreground($theme, secondary-text);
  }
}
