<mat-card [formGroup]="form">
  <mat-card-title>
      <span class="icon">
        <mat-icon svgIcon="cord"></mat-icon>
      </span>
    <span>Reset Password</span>
  </mat-card-title>

  <ng-container *ngIf="token; else invalidToken">
    <mat-card-content (keyup.enter)="form.valid ? onResetPassword() : null">
      <mat-form-field color="accent" class="new-password">
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          [type]="hidePassword ? 'password' : 'text'"
        >
        <mat-icon matSuffix
                  color="primary"
                  (click)="hidePassword = !hidePassword"
        >
          {{ hidePassword ? 'visibility' : 'visibility_off' }}
        </mat-icon>
        <mat-hint>
          <div class="line">Use a few words, avoid common phrases</div>
          <div class="line">No need for symbols, digits, or uppercase letters</div>
        </mat-hint>
        <mat-error *ngIf="password.errors?.required">Please enter your new password</mat-error>
        <mat-error *ngIf="password.errors?.passwordMismatched">Passwords should match</mat-error>
        <mat-error *ngIf="password.errors?.invalid">
          <div class="line">
            {{ password.errors.invalid.warning || 'Use a stronger password' }}
          </div>
          <div class="line" *ngIf="password.errors.invalid.suggestions as suggestions">
            {{ suggestions.reverse()[0] }}
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <input
          matInput
          placeholder="Confirm Password"
          formControlName="confirmPassword"
          [type]="hidePassword ? 'password' : 'text'"
        >
        <mat-icon matSuffix
                  color="primary"
                  (click)="hidePassword = !hidePassword"
        >
          {{ hidePassword ? 'visibility' : 'visibility_off' }}
        </mat-icon>
        <mat-error *ngIf="confirmPassword.errors?.required">Please re-enter your new password</mat-error>
        <mat-error *ngIf="confirmPassword.errors?.passwordMismatched">Passwords should match</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button
              color="accent"
              (click)="onResetPassword()"
              [disabled]="form.invalid || form.disabled"
      >
        <ng-container *ngIf="form.enabled">RESET PASSWORD</ng-container>
        <mat-progress-spinner
          *ngIf="form.disabled"
          color="accent"
          mode="indeterminate"
          strokeWidth="3"
          [diameter]="32"
        ></mat-progress-spinner>
      </button>
      <button mat-button color="accent" routerLink="/login">CANCEL</button>
    </mat-card-actions>
  </ng-container>
</mat-card>

<ng-template #invalidToken>
  <mat-card-content>
    <p>Could not confirm your email address. If you copied the link emailed to you, make sure you copied it exactly as it was sent.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent" routerLink="/login">LOGIN</button>
  </mat-card-actions>
</ng-template>
