<mat-card>
  <mat-card-title>
      <span class="icon">
        <mat-icon svgIcon="cord"></mat-icon>
      </span>
    <span>Reset Password</span>
  </mat-card-title>
  <mat-card-content [formGroup]="form" (keyup.enter)="form.valid ? onResetPassword() : null">
    <div *ngIf="!reset.isSubmitted">
      <mat-form-field color="accent">
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          [type]="hidePassword ? 'password' : 'text'"
        >
        <mat-icon matSuffix
                  color="primary"
                  (click)="hidePassword = !hidePassword"
        >
          {{ hidePassword ? 'visibility' : 'visibility_off' }}
        </mat-icon>
        <mat-error>Please enter a password</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <input
          matInput
          placeholder="Confirm Password"
          formControlName="confirmPassword"
          [type]="hidePassword ? 'password' : 'text'"
        >
        <mat-icon matSuffix
                  color="primary"
                  (click)="hidePassword = !hidePassword"
        >
          {{ hidePassword ? 'visibility' : 'visibility_off' }}
        </mat-icon>
        <mat-error *ngIf="confirmPassword.hasError('mismatchedPassword')">
          Passwords should match
        </mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="reset.isSubmitted">
      <div *ngIf="reset.status; else error">
        Your Password successfully changed.
      </div>
      <ng-template #error>
        {{ reset.msg }}
      </ng-template>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button
            color="accent"
            (click)="onResetPassword(); submitting = true"
            [disabled]="!form.valid || submitting || reset.isSubmitted"
    >
      <ng-container *ngIf="!submitting">RESET PASSWORD</ng-container>
      <mat-progress-spinner
        *ngIf="submitting"
        color="accent"
        mode="indeterminate"
        strokeWidth="3"
        [diameter]="32"
      ></mat-progress-spinner>
    </button>
    <button mat-button color="accent" routerLink="/login">
      {{ reset.isSubmitted ? 'LOGIN' : 'CANCEL' }}
    </button>
  </mat-card-actions>
</mat-card>
