@import "~src/styles/imports";

:host {
  @extend %component-defaults;
  flex: 1;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 400px;
  display: flex;
  flex-direction: column;
}

mat-card-title {
  display: flex;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: .5em;
}

mat-form-field {
  width: 100%;
}

.new-password {
  @include form-field-extra-subscript-lines(2);
}

mat-card-actions {
  display: flex;
  flex-direction: row-reverse;
}
