<mat-toolbar>
  <span class="spacer"></span>
  <button mat-fab class="add-button" (click)="openDialog()">
    <mat-icon aria-label="create new project">add</mat-icon>
  </button>
</mat-toolbar>

<mat-toolbar class="toolbar">
  <button mat-button class="project-menu-button" color="primary" [matMenuTriggerFor]="projectMenu">
    {{ currentListSelector }}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #projectMenu="matMenu">
    <button mat-menu-item
            (click)="currentListSelector = selector"
            *ngFor="let selector of listSelectorOptions; trackBy: trackByValue">
      {{ selector }}
    </button>
  </mat-menu>

  <span class="spacer"></span>

  <app-search class="search" (search)="onSearch($event)"></app-search>

  <button mat-icon-button [matMenuTriggerFor]="filterMenu" color="primary">
    <mat-icon>filter_list</mat-icon>
  </button>
  <mat-menu #filterMenu="matMenu">
    <button mat-menu-item>filter1</button>
    <button mat-menu-item>filter2</button>
    <button mat-menu-item>filter3</button>
  </mat-menu>
</mat-toolbar>

<mat-table [dataSource]="projectSource" matSort>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Project Title</mat-header-cell>
    <mat-cell *matCellDef="let project" class="title"> {{ project.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastModified">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified</mat-header-cell>
    <mat-cell *matCellDef="let project"> {{ project.updatedAt | date : 'shortDate' }}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="languages">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Languages</mat-header-cell>
    <mat-cell *matCellDef="let project">

      <mat-chip-list *ngIf="project.languages.length > 0">
        <mat-chip *ngFor="let language of project.languages; trackBy: trackByValue">
          {{ language }}
        </mat-chip>
      </mat-chip-list>
      <span *ngIf="project.languages.length === 0" class="language-none">None</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
    <mat-cell *matCellDef="let project">{{ projectTypeToString(project.type) }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
    <mat-cell *matCellDef="let project">
      <span class="status-circle"
            [ngStyle]="{'background': getStatusColor(project.status)}"></span>
      <span>{{ projectStatusToString(project.status) }}</span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSize]=pageSize
               [pageSizeOptions]=pageSizeOptions
               [showFirstLastButtons]="false">
</mat-paginator>
