<app-table-view
  [fetchData]="fetchProjects"
  [parseParams]="parseParams"
  [paramsFromChanges]="paramsFromChanges"
  [observeChanges]="observeChanges"
  [defaultSort]="defaultSort"
  (dataFetched)="dataFetched($event.total)"
  (queryParamChanges)="queryParamChanges($event)"
>
  <ng-container ngProjectAs="toolbar">
    <button mat-button class="project-menu-button" color="primary" [matMenuTriggerFor]="projectMenu">
      {{ listSelection.label }}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #projectMenu="matMenu">
      <button mat-menu-item
              (click)="listChanges.next(selector)"
              *ngFor="let selector of listSelectorOptions; trackBy: trackByValue">
        {{ selector.label }}
      </button>
    </mat-menu>
  </ng-container>

  <mat-table matSort matSortDisableClear>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Project Title</mat-header-cell>
      <mat-cell *matCellDef="let project"> {{ project.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified</mat-header-cell>
      <mat-cell *matCellDef="let project"> {{ project.updatedAt.toLocaleString() }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="languages">
      <mat-header-cell *matHeaderCellDef>Languages</mat-header-cell>
      <mat-cell *matCellDef="let project">
        <app-collapsed-chip-list [list]="project.languages" (chipClicked)="onLanguageClick($event)">
          <ng-template let-language>{{ language.nameOrDisplayName }}</ng-template>
        </app-collapsed-chip-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell *matCellDef="let project">{{ ProjectType.forUI(project.type) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let project">
        <span class="status-circle" [ngClass]="project ? ProjectStatus.getColor(project.status) : null"></span>
        <span>{{ ProjectStatus.forUI(project.status) }}</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="row-hover"
             [routerLink]="'/projects/' + project.id"
             *matRowDef="let project; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <app-project-list-filter tableFilter></app-project-list-filter>
</app-table-view>
