@import "~styles/imports";

:host {
  @extend %component-defaults;
}

.add-new {
  height: 85px;
  .second-row {
    height: 32px;
    background: mat-background($theme, card);
  }

  .first-row {
    height: 53px;
    padding-top: 50px;
  }
}

.toolbar {
  background: mat-background($theme, card);

  .project-menu-button {
    padding-right: 8px;
    color: mat-foreground($theme, text);
    font-size: mat-font-size($config, title);
  }

  .search {
    font-size: mat-font-size($config, body-1);
  }
}

.spacer {
  flex: auto;
}

.mat-row {
  border-bottom-style: none;
}

.title {
  color: mat-color($accent);
  @include mat-typography-level-to-styles($config, body-2);
}

.language-none {
  color: mat-foreground($theme, disabled);
}

.status-circle {
  border-radius: 4px;
  height: 7px;
  width: 7px;
  display: inline-block;
  margin-right: 5px;
}

.capitalize {
  text-transform: capitalize;
}
