<mat-form-field color="accent">
  <input matInput
         [formControl]="text"
         [placeholder]="placeholder"
         [autofocus]="autofocus"
         maxlength="{{ maxLength }}"
         autocomplete="off"
         (blur)="focused.next(false)"
         (focus)="focused.next(true)"
  >
  <mat-hint align="start" *ngIf="text.pending">{{ pendingMessage }}</mat-hint>
  <mat-hint align="end">{{ text.value ? text.value.length : 0 }}/{{ maxLength }}</mat-hint>
  <mat-error *ngIf="text.errors">{{ displayError() }}</mat-error>
</mat-form-field>
