name: CI
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - edited # Since description can change API schema referenced
  push:
    branches:
      - master
      - develop

env:
  NODE_ENV: development
  RAZZLE_API_BASE_URL: ${{ secrets.API_BASE_URL }}

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: yarn

      - name: Install dependencies
        run: yarn install && yarn dedupe --check

      - name: Match API PR
        uses: actions-ecosystem/action-regex-match@v2
        id: api-pr
        with:
          text: ${{ github.event.pull_request.body }}
          regex: 'API PR: https:\/\/github\.com\/SeedCompany\/cord-api-v3\/pull\/(\d+)'
        if: "contains(github.event.pull_request.body, 'API PR: https://')"

      - name: Download API Schema
        uses: dawidd6/action-download-artifact@v2
        with:
          repo: SeedCompany/cord-api-v3
          workflow: lint.yml
          name: schema.graphql
          pr: ${{ steps.api-pr.outputs.group1 }}
          workflow_conclusion: completed # needs to be done, but not necessarily successful
          check_artifacts: true
          path: server_build
        if: ${{ steps.api-pr.outputs.group1 != '' }}

      - name: Generate GraphQL types
        run: yarn gql-gen -e

      - name: Check TypeScript
        run: yarn type-check

      - name: Lint
        run: yarn eslint --ext .ts,.tsx --max-warnings 0 .

      - name: Build
        run: yarn razzle build

      - name: Test
        run: yarn test
