<mat-card>
  <mat-card-title>General</mat-card-title>
  <mat-card-content [formGroup]="form"
                    (keyup.enter)="form.valid ? update() : null">

    <div class="name-container">
      <mat-form-field color="accent">
        <input matInput
               maxlength="140"
               formControlName="firstName"
               placeholder="First Name">
        <mat-error>Please enter valid first name</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput
               maxlength="140"
               formControlName="lastName"
               placeholder="Last Name">
        <mat-error>Please enter valid last name</mat-error>
      </mat-form-field>
    </div>

    <app-user-roles-form [disabled]="form.disabled"
                         (formReady)="initRolesCtrl($event)"></app-user-roles-form>

    <h3 mat-card-title>Contact</h3>

    <div class="container">
      <mat-form-field color="accent">
        <input matInput
               type="text"
               maxlength="140"
               formControlName="email"
               placeholder="Email">
        <mat-error>Please enter a valid email</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput
               type="text"
               pattern="[0-9]*"
               minlength="10"
               maxlength="10"
               formControlName="phone"
               placeholder="Phone">
        <mat-error>
          Please enter a valid phone number
        </mat-error>
      </mat-form-field>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
            color="accent"
            (click)="update()"
            [disabled]="!form.valid || submitting">
      <ng-container *ngIf="!submitting">UPDATE</ng-container>
      <mat-progress-spinner *ngIf="submitting"
                            color="accent"
                            mode="indeterminate"
                            strokeWidth="3"
                            [diameter]="24"></mat-progress-spinner>
    </button>
  </mat-card-actions>
</mat-card>
