<button mat-icon-button (click)="focused = !focused">
  <mat-icon class="mat-primary">search</mat-icon>
</button>
<mat-form-field *ngIf="focused" [@slideInOut] floatLabel="never" color="accent">
  <input matInput autofocus type="text" placeholder="Search" [(ngModel)]="value"
         (keydown.esc)="focused = false; value=''"/>
  <button mat-button [class.hidden]="!value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
