@import "~src/styles/imports";

:host {
  @extend %component-defaults;
  background: mat-background($theme, card);
}

.picture {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.flex-grow {
  flex: 1;
}

.location {
  margin: 0;
}

.sensitivity, .dept-id {
  margin: 8px 0 0;
}

.stage {
  padding: 16px;
}

mat-progress-bar {
  margin: 8px 0;
}

a.active {
  color: mat-color($accent);
}
